:root {
  --s-05: 3px;
  --s-1: 6px;
  --s-2: 12px;
  --s-3: 15.5px;
  --s-4: 18px;
  --s-5: 24px;
  --s-6: 32px;
  --s-7: 48px;
  --s-8: 56px;
  --s-9: 64px;
  --s-10: 72px;
  --s-11: 80px;
  --s-12: 6.5rem;
  --s-13: 8rem;
  --s-15: 10rem;
  --s-20: 15rem;
  --s-25: 20rem;
  --s-30: 25rem;
  --s-50: 50%;
  --s-75: 75%;
  --s-100: 100%;
  --s-2\4w: 50vw;
  --s-vw: 100vw;
  --s-vh: 100vh;
  --s-2\4v: 50vh;

  --primary-color: #f8f9fa;
  --secondary-color: #457b9d;
  --header-color: #457b9d;
  --font-color: #2d2d2d;
  --accent-color: #76abae;
  --btn-primary: #5d9ca7;
  --btn-hover: #1d3557;
  --btn-fonthover: #ffffff;
  --card: #ffffff;
  --timeline-accent-color: #adb5bd;
}

[data-theme="dark"] {
  --primary-color: #121417;
  --secondary-color: #1d2025;
  --header-color: #1d2025;
  --font-color: #e0e0e0;
  --accent-color: #76abae;
  --btn-primary: #2a4a62;
  --btn-hover: #457b9d;
  --btn-fonthover: #ffffff;
  --card: #1d2025;
  --timeline-accent-color: #76abae;
}

/* #a8dadc */
/* #222831 */
/* #457b9d */
/* #76abae */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.badge {
  cursor: default;
  background-color: var(--accent-color);
  font-size: 10px;
  padding: var(--s-1) var(--s-6);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1.5px;
}

.badge:hover {
  background-color: var(--btn-hover);
  color: var(--btn-fonthover);
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--s-2);
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--s-2);
  letter-spacing: 1.2px;
  border: 1px solid var(--accent-color);
  padding: var(--s-05) var(--s-6);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  align-self: flex-start;
}

.btn svg {
  margin-bottom: -2px;
  z-index: 1;
  transform: scale(0.7);
}

.btn p {
  z-index: 1;
  font-size: 10px;
}

.btn::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  right: 100%;
  height: 100%;
  width: 100%;
  transition: right 0.15s ease;
}

.btn:hover p,
.btn:hover a > p {
  color: white;
}

.btn:hover::before {
  right: 0%;
}

.goto-section-button {
  height: var(--s-2);
  width: var(--s-2);
  background-color: var(--timeline-accent-color);
  cursor: pointer;
}

.current-section {
  border: 2px solid var(--font-color);
  background-color: transparent;
  transform: rotate(45deg);
}

.message-response {
  display: flex;
  align-items: center;
  gap: var(--s-2);
  height: auto;
}

.message-response > ion-icon {
  scale: 1.5;
}

.message-response > ion-icon[name="checkmark-done-circle-outline"] {
  color: green;
}

.message-response > ion-icon[name="close-circle-outline"] {
  color: red;
}

ul li > ion-icon[name="close-circle-outline"] {
  color: red;
}

ul li > ion-icon[name="checkmark-done-circle-outline"] {
  color: green;
}

@media (min-width: 768px) {
  .badge {
    font-size: var(--s-2);
  }
}

@media (min-width: 1024px) {
  .message-response {
    gap: var(--s-5);
  }

  .message-response > ion-icon {
    scale: 1.7;
    margin-bottom: -4px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    transform: translateY(50%);
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: -175px 350px;
  }

  @keyframes fade-in {
    to {
      transform: translateY(0);
    }
  }
}
