---
const tools = ["AstroJS", "Javascript", "NodeJS", "ExpressJS", "CSS", "HTML", "MongoDB"];
const year = new Date().getFullYear();
---
<footer>
    <h1>- PORTFOLIO TOOLS -</h1>
    <div class="tools">
        {
            tools.map((tool) => <span class="badge">{tool}</span>)
        }
    </div>
    <ul>
        <li><a class="roboto-light" href="/projects">Projects</a></li>
    </ul>
    <p>&copy Gavin Oiamo { year }</p>
</footer>
<style>
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--s-4);
        align-items: center;
        padding: var(--s-5) var(--s-7);
        background-color:var(--secondary-color);
    }

    p {
        text-align: center;
        letter-spacing: 1px;
        font-size: var(--s-2);
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: var(--s-4);
    }

    ul li {
        text-decoration: underline;
    }

    ul li a {
        letter-spacing: 1px;
        font-size: var(--s-2);
    }

@media (min-width: 768px) {
    footer {
        padding: var(--s-7) var(--s-12);
        gap: var(--s-6);
    }

    p {
        font-size: var(--s-3);
    }

    h1 {
        font-size: var(--s-4);
    }

    ul li a {
        font-size: var(--s-4);
    }
}

@media (min-width: 1360px) {
    footer {
        padding: var(--s-10);
    }
}
</style>