---
const timelineresponse = await fetch('http://www.goiamo.dev/api/timeline')
const timeline = await timelineresponse.json();
---
<article>
{
timeline.map(item => (
    <div class="info">
      <aside>
        <span>{item.yearmo}</span>
        <h1 class="roboto-medium fade-in-slow">{item.title}</h1>
        <p class="roboto-light fade-in-slower">{item.description}</p>
      </aside>
    </div>
  ))
}
</article>
<style>
article {
    position: relative;
    background-color: var(--secondary-color);
    padding: var(--s-12) var(--s-2);
    color: #f1faee;
}

article::after {
    top: var(--s-12);
    font-size: var(--s-5);
    right: var(--s-7);
    display: block;
    position: absolute;
    content: 'My background';
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.info aside p {
  font-size: var(--s-3);
  letter-spacing: 1.5px;
}
    /* For Time line */
.info {
  display: flex;
  padding: var(--s-1) var(--s-3);
  margin: -0.62px var(--s-4);
  border-radius: var(--s-4);
  position: relative;
}

.info::before {
  content: "";
  position: absolute;
  width: 51%;
  border: solid var(--timeline-accent-color);
}

.info aside {
  margin: var(--s-7) 0;
}

.info h1 {
    font-size: var(--s-4);
    padding: var(--s-2) 0;
    letter-spacing: 1px;
}

.info:nth-child(odd) aside {
  padding: 30px 0 30px 30px;
  text-align: left;
}

.info:nth-child(even) aside {
  padding: 30px 30px 30px 0;
}

.info:nth-child(even) aside h1 {
  text-align: right;
}

.info:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

.info:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

.info:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

.info:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

.info:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

.info aside span {
  position: absolute;
  background-color: var(--timeline-accent-color);
  padding: 0 var(--s-1);
  top: 10%;
}

.info:nth-child(odd) aside span {
  left: 1px;
  border-left: 38px solid var(--timeline-accent-color);
}

.info:nth-child(even) aside span {
  right: 1px;
  border-right: 38px solid var(--timeline-accent-color);
}
/* For time line ^^^ */

@media (min-width: 768px) {
  article {
    padding: var(--s-15) var(--s-11);
  }

  article::after {
    font-size: var(--s-6);
    right: var(--s-11);
    top: var(--s-15);
  }

  .info aside span {
    font-size: var(--s-4);
  }

  .info aside h1 {
    font-size: var(--s-5);
  }

  .info aside p {
    font-size: var(--s-3);
  }
}

@media (min-width: 1024px) {
  article {
    padding: var(--s-15);
  }

  article::after {
    right: var(--s-20);
  }
}

@media (min-width: 1360px) {
  article {
    padding: var(--s-15) var(--s-20);
  }

  article::after {
    top: var(--s-13);
    right: var(--s-20);
    font-size: var(--s-7);
    letter-spacing: 2px;
  }

  .info {
    padding: var(--s-6) var(--s-15);
  }

  .info aside h1 {
    font-size: var(--s-6);
    letter-spacing: 4px;
  }

  .info aside p {
    font-size: var(--s-4);
    letter-spacing: 2px;
    line-height: var(--s-6);
    word-spacing: 3px;
  }

  .info aside span {
    font-size: var(--s-5);
    letter-spacing: 2px;
  }
}
</style>